# experiments
runs/
checkpoints/
results/
*.pt
*.ckpt
logs/
experiments/
environments/data/
optuna_results/
validation_results/

# python noise
__pycache__/
*.pyc
*.pyo

# OS/editor
.DS_Store
*.swp

# venv (if local)
venv/
