# experiments
runs/
checkpoints/
results/
*.pt
*.ckpt
logs/
experiments/
environments/data/
optuna_results/
validation_results/
Optuna_HPO/
MLFlow_Pipeline/
viz/
deprecated/

# python noise
__pycache__/
*.pyc
*.pyo

# OS/editor
.DS_Store
*.swp

# venv (if local)
venv/
workbench.ipynb

final_refactor.txt
todos.txt
presentation_plan.md
research_plan.md
notes_on_results.txt
experiment_documentation.txt